{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SADD -GROUPE TP 2</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="settingSide">
        <div class="icon">
            <i class="fa-solid fa-cog "></i>
        </div>

        <div class="box">
            <p>stop the animation loader  </p>
            <div>
                <button data-loader="y" class="active">run</button>
                <button data-loader="n" class="">stop</button>
            </div>
        </div>
    </div>
    <div class="theMianLoader">
        <div class="textContainer">
            <span class="theMainLoaderSpan">encryptify</span>
        </div>
    </div>
    <div class="createUser">
        <div class="mastercontainer">
            <div class="left">
                <i class="fa-solid  fa-chevron-up"></i>
                <h2>Sign Up</h2>
                <p>Let's get started with creating your account</p>
    
                <form action="" method="POST">
                 {% csrf_token %}
                
                <!-- Username field -->
                <input type="text" name="username" placeholder="Enter a User Name" required>
                
                <!-- Email field -->
                <input type="text" name="email" placeholder="Enter Email" required>
                <p class="form-error"></p>

                <!-- Password fields -->
                <input type="password" name="password1" placeholder="Create A Password of 6 charahcters" required>
                <p class="form-error"></p>

                <input type="password" name="password2" placeholder="Confirm Your Password" required>
                <p class="form-error"></p>

                <input type="submit" value="Sign Up">
                
                <div class="containerloader">
                    <p class="yes"></p>
                    <span class="loader"></span>
                </div>
                </form>
            </div>
            <div class="right">
                <img src="https://cdni.iconscout.com/illustration/premium/thumb/sign-up-illustration-download-in-svg-png-gif-file-formats--login-enter-log-cyber-protection-nallow-pack-people-illustrations-6983270.png?f=webp" alt="Signup Image">
            </div>
        </div>
    </div>
    
    
    <div class="team">
        <button> <i class="fa-solid fa-arrow-left"></i> </button>
        <div class="container">
            <h2>meet our members !</h2>
            <ul>
                <li><p>ABDI Naila</p></li>
                <li><p>AMIMER Abderrahmane Mohamed Elmahdi</p></li>
                <li><p>AOUDIA Djahid</p></li>
                <li><p>BOUREKIA Nihad </p></li>
                <li><p>Dhairi Fatima Ez-zahra </p></li>
                <li><p>SEDDIKI Aridj </p></li>
                <li><p>Zeghouf Samir</p></li>
                <li><p>Zouaoui Mohamed </p></li>

            </ul>
        </div>
    </div>
    <div class="header">
        <div class="container">
            
            <div class="left">
                <h2>cool_stuff</h2>
                <p class="about"><span>about the team</span> <i class="fa-solid fa-arrow-right"></i><span class="bg"></span> </p>
                <span></span>
            </div>
            <div class="right">
                <button><span>create user</span><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="landing">
        <!---<img src="{% static 'svg/blue-star.css' %}" alt="">
        <img src="{% static 'svg/yellow-treffle.svg' %}" alt="">
        <img src="{% static 'svg/flipped-red-demi-circles.svg' %}" alt="">
        <img src="{% static 'svg/green-filled-circle.svg' %}" alt="">-->
        <div class="container">
            <div class="loginPass">
                <div class="left">
                    <p>put your uncrypted message here </p>
                    <form action="">
                        <textarea name=""  id="textCrypt" placeholder="" ></textarea>
                    
                    <div class="bottom">
                        <div class="menu">
                            <p>choose your methed <i class="fa-solid fa-chevron-up"></i></p>
                            <ul> 
                                <li data-method="1">method 1 - Miroir</li>
                                <li data-method="2" >method 2 - Affine</li>
                                <li data-method="3">method 3 - decalage a gauche</li>
                                <li data-method="4">method 4 - decalage a droite</li>
                                <li data-method="5">method 5 - cesar</li>
                            </ul>
                        </div>
                        <button type="submit">execute</button>
                    </form>
                    </div>
                </div>
                <div class="right">
                    <p>the crypted message</p>
                    <form action="">
                        <textarea name=""  id="textResult" readonly></textarea>
                    </form> 
                    <div class="bottom"></div>
                </div>
            </div>
            <div class="login">
                <h1>Welcome to <q>Encryptify</q>, where we can encrypt your message</h1>
                <div class="formcontainer">
                    <h2>Agent Login</h2>
                    <p>Enter your details to sign in to your account</p>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="text" name="usernameL" placeholder="Enter Username" required>
                        <input type="password" name="passwordL" placeholder="Enter Password" required>
                        <input type="submit" value="Sign In">
                        <div class="containerloader">
                            <p class="yes">Your request was successful</p>
                            <p class="no">Sorry, your email or password is wrong</p>
                            <span class="loader"></span>
                        </div>
                    </form>
                </div>
            </div>
            

            
        </div>
        <p>Copyright @TEAM_2 2024 | Privacy Policy </p>
    </div>
    <script src="{% static 'more/gsapmin.js'%}"></script>
    <script src="{% static 'more/split.js'%}"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>