* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	user-select: none;
}
@font-face {
  font-family: "WorkSans";
  src: url(../WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Pacifico";
  src: url(../Pacifico-Regular.ttf);
}
@font-face {
  font-family: "BebasNeue";
  src: url(../BebasNeue-Regular.ttf);
}
body {
  font-family: "WorkSans";
  background-image:url("../svg/Group1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:white;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:root {
  --padding-container: 15px;
  --bg: rgba(246, 246, 246, 0.8);
  --v:#2d5882;
  --t:#63aefd;

}
.container {
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* ######################### */
/* setting */

.settingSide {
  position: fixed;
  width: 270px;
  height: 100vh;
  background-color: rgba(246, 246, 246);
  top: 0;
  left: -270px;
  z-index: 10;
  isolation: isolate;
  border-right: 1px solid #2d5882;
}
.settingSide .icon {
  width: 30px;
  height: 30px;
  background-color: var(--bg);
  display: flex;
  color: var(--t);
  align-items: center;
  justify-content: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  top: 29%;
  right: -30px;
  cursor: pointer;
  border-style:solid ;
  border-color: var(--t) var(--t) var(--t) transparent;
  border-width: 1px ;
}
.settingSide .box , .settingSide .box-crypt {
  padding: 20px 15px;
  height: 100px;
  color: #2d5882;
}
.settingSide .box-crypt {
  display: none;
}
.settingSide .box p,.settingSide .box-crypt p {
  font-weight: 400;
    text-transform: capitalize;
    font-size: 17px;
    margin-bottom: 25px;
    position: relative;
}
.settingSide .box p::after ,.settingSide .box-crypt p::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: var(--t);
  bottom: -10px;
  left: 0;
}
.settingSide .box div ,.settingSide .box-crypt div {
    display: flex;
    gap: 12px;
}

.settingSide .box div button,.settingSide .box-crypt div button {
  flex: 1;
  padding: 8px;
  border: 1px solid #2d5882;
  background-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 15px;
  transition: 0.3s;
  color: #2d5882;
}
.settingSide .box div button.active ,.settingSide .box-crypt div button.active {
  border: none;
  background-color:#63aefd ;
}


/* setting */
/* main loader */

.theMianLoader {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 1000;
  color: transparent;
  font-family: 'BebasNeue';
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  letter-spacing: -2px;
  isolation: isolate;
  overflow: hidden;
}
.theMianLoader .textContainer {

  padding: 22px 7px 0px 7px;
  overflow: hidden;
}
.theMianLoader .textContainer div {

  transform: translateY(-100px);
  transition: all 0.5s;
  color:transparent
}
/* ############################### */

.createUser {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: 100;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;;
}

.createUser .mastercontainer {
  display: flex;
  gap: 10px;
  height: 80vh;
  width: 80%;
  background-color: rgba(246, 246, 246, 0.8);
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
.createUser .mastercontainer .left{
  flex: 1 ;
  position: relative;
}
.createUser .mastercontainer .left h2 {
  text-transform: capitalize;
  margin-bottom: 16px;
  color: black;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}
.createUser .mastercontainer .left > p {
  color:#333;
  font-weight: 600;
  width: 300px;
  text-align: center;
  line-height: 1.4;
  font-size: 15px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  /*color: var(--t);*/
}
.createUser .mastercontainer .left form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  padding: 0 40px;
}
.createUser .mastercontainer .left i {
  color: #777;
  border: 1px solid #777;
  padding: 10px;
  position: absolute;
  border-radius: 6px;
}
.createUser .mastercontainer .left .containerloader p.yes {
  color: var(--t);
  font-weight: 600;
  font-size: 15px;
  text-transform: capitalize;
  display: none;
}
.createUser .mastercontainer .left .containerloader p.yes.active {
display: block;
}
.createUser .mastercontainer .left form input[type="text"],
.createUser .mastercontainer .left form input[type="password"] {
  padding: 14px 20px;
  color: #333;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  background-color: transparent;
}
@media (max-width:678px) {
	.createUser .mastercontainer .left form {
		padding:  0 10px;
	}

	.createUser .mastercontainer .left form input[type="text"],
.createUser .mastercontainer .left form input[type="password"]  {
		width: 95%;
    margin-left: auto;
    margin-right: auto;
	}
}
.createUser .mastercontainer .left form input[type="text"]:focus,
.createUser .mastercontainer .left form input[type="password"]:focus {
  outline: none;
}
.createUser .mastercontainer .left form input[type="submit"] {
  padding: 14px 20px;
  border: none;
  background-color: #63aefd;
  border-radius: 8px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
}

.createUser .mastercontainer .left form input[type="submit"]:hover {
  opacity: 0.92;
}
.createUser .mastercontainer .right {
  flex: 1;
  display: flex;
  align-content: center;
  justify-content: center;
}
.createUser .mastercontainer .right img {
  max-width: 100%;
  /* flex: 1; */
}
@media (max-width:992px) {
  .createUser .mastercontainer .right  {
    display: none;
  }
}
.createUser .mastercontainer .containerloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
}
.createUser .mastercontainer .containerloader.active {
  height: 30px;
}
/* ############################### */
.header {
  padding: 15px 0;
  position: relative;
  color: white;
  /*backdrop-filter:blur(10px)*/
  /* background-color: #333; */
}
.team .container {
  height: 100%;
}
.team {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 3;
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  transition: 0.9s;
}
.team.active {
  left: 0;
}
.team button {
  position: absolute;
  padding: 6px 19px;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
.team h2 {
  text-align: center;
  margin: 20px 20px 40px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 29px;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #333;
}
.team h2::after {
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
}
.team ul {
  height: calc(100% - 33.34px);
  isolation: isolate;
}
.team ul li {
  padding: 10px;
  text-transform: capitalize;
  color: #333;
  position: relative;
  margin-bottom: 15px;
}
.team ul li p {
	font-weight: 700;
}
.team ul li::after {
  position: absolute;
  content: "";
  width: 0;
  height: calc(100% + 10px);
  top: 50%;
  left: -10px;
  background-color: var(--v);
  opacity: 0.6;
  transition: 0.6s;
  z-index: -1;
  transform: skewX(-20deg) translateY(-50%);
}
.team ul li:hover::after {
  width: 100%;
}
@media (max-width: 678px) {
  .team h2 {
    font-size: 22px;
  }
}
.header .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header .left h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 32px;
  isolation: isolate;
  position: relative;
  width: fit-content;
}
@media (max-width:678px) {
  .header .left h2 {
    font-size: 20px;
  }
}
.header .left h2::after {
  content: "";
  height: 1px;
  width: calc(100% + 40px);
  position: absolute;
  left: 0;
  bottom: -19px;
  background-color: #777;
}
.header .left p {
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  isolation: isolate;
}

.header .left p .bg {
  position: absolute;
  width: 0;
  height: calc(100% + 10px);
  top: 50%;
  left: -10px;
  background-color: var(--v);
  transition: 0.4s;
  z-index: -1;
  transform: skewX(-20deg) translateY(-50%);
}

.header .left p:hover .bg {
  width: 100%;
}
.header .right {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30px;
  height: 30px; */
  margin-right: 10px;
  cursor: pointer;
}
.header .right button {
    width: 130px;
    height: 39px;
    border: none;
    background-color: #63aefd;
    border-radius: 8px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s;
    color: #333;
   /* background-color: var(--t);*/
}
.header .right button i {
  margin-left: 10px;
}
.header .right button:hover {
  opacity: 0.95;
}
.landing {
  position: relative;
  isolation: isolate;
  height: calc(100vh - 110.28px);
  overflow:hidden ;
}


.landing .container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.landing .container .login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;
	width: 100%;
	height: 100%;
	transition: 0.9s;
	overflow: hidden;
}
.landing .container .login.gone {
	transition: 0.9s;
	/* width: 0; */
	height: 0;
}	
.landing .container {
  height: calc(100% - 54.94px );
}
.landing .container .login h1 {
  color:whitesmoke;
  font-size: 26px;
  text-transform: capitalize;
  text-align: center;
  max-width: 480px;
  line-height: 1.4;
  margin: 0;
  font-weight: 500;
}
@media (max-width:678px) {
	.landing .container .login h1 {
		font-size: 20px;
	}
}
.landing .container .login h1 q {
  font-family: "Pacifico";
  letter-spacing: 2px;
  font-weight: 600;
}
.landing > p {
  font-size: 13px;
  font-weight: 600;
	text-align: center;
	padding: 20px;
 /* color: var(--t);*/
}
.landing .container .formcontainer {
  background-color: rgba(246, 246, 246, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
.landing .container .formcontainer::after {
  content: '';
  position: absolute;
  height: 10px;
  bottom: 0;
  left: 0;
  background-color: var(--v);
  width: 0%;
  transition: 0.9s;
}
.landing .container .formcontainer:hover::after {
  width: 100%;
}
@media (max-width:678px) {
	.landing .container .login .formcontainer {
		width: 95%;
	}
}
@media (min-width: 992px) {
  .landing .container .formcontainer {
    width: 50%;
  }
}
.landing .container .formcontainer h2 {
  color: black;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.landing .container .formcontainer p {
  color: #333;
  font-weight: 600;
  width: 300px;
  text-align: center;
  line-height: 1.4;
  font-size: 15px;
  margin-bottom: 10px;
}
.landing .container .formcontainer form {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  width: 100%;
  padding: 0 40px;
}
.landing .container .formcontainer form input[type="text"],
.landing .container .formcontainer form input[type="password"] {
  padding: 14px 20px;
  color: #333;
  border: 1px solid #2d5882;
  border-radius: 8px;
  background-color: transparent;
}
@media (max-width:678px) {
	.landing .container .formcontainer form {
		padding:  0 10px;
	}
	.landing .container .formcontainer form input[type="text"],
.landing .container .formcontainer form input[type="password"]  {
		width: 95%;
    margin-left: auto;
    margin-right: auto;
	}
}
.landing .container .formcontainer form input[type="text"]:focus,
.landing .container .formcontainer form input[type="password"]:focus {
  outline: none;
}
.landing .container .formcontainer form input[type="submit"] {
  padding: 14px 20px;
  border: none;
  background-color: #63aefd;
  border-radius: 8px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 17px;
  transition: 0.3s;
 /* color: var(--t);*/
}
.landing .container .formcontainer form input[type="submit"]:hover {
  opacity: 0.92;
}

.loader {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: none;
	margin:15px auto;
	position: relative;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	background: var(--v);
	width: 12px;
	height: 12px;
	transform: translate(-50%, 50%);
	border-radius: 50%;
}
.loader::before {
	left: auto;
	right: 0;
	background: var(--t);
	transform: translate(50%, 100%);
}

@keyframes rotation {
0% {
	transform: rotate(0deg);
}
100% {
	transform: rotate(360deg);
}
} 
.containerloader {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	height: 0px;
	/* overflow: hidden; */
}
.containerloader span.active {
	display: block;
}
.landing .container .formcontainer  .containerloader.active {
	height: 40px;
} 
.landing .container .formcontainer  .containerloader p {
	display: none;
}
.landing .container .formcontainer  .containerloader p.yes.active {
	font-size: 14px;
	text-transform: capitalize;
	color: rgb(0, 145, 0);
	display: block;
}
.landing .container .formcontainer  .containerloader p.no.active {
	display: block;
	font-size: 14px;
	text-transform: capitalize;
	color: rgb(145, 0, 0);
}
.landing .container .loginPass {
	display: none;
	gap: 20px;
	width: 100%;
	height: 100%;
}
.landing .container .loginPass.active {
	display: flex;
}
.landing .container .loginPass > div {
	background-color: rgba(246, 246, 246, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
.landing .container .loginPass > div.left , .landing .container .loginPass > div.right {
	flex: 1;
	width: 40%;
}
@media (max-width:678px) {
	.landing .container .loginPass {
		flex-direction: column;
	}
	.landing .container .loginPass > div.left , .landing .container .loginPass > div.right {
		flex: 1;
		width: 100%;
	}
}
.landing .container .loginPass div form {
	width: 100%;
	height: 100%;
  display: flex;
  flex-direction: column;
}
.landing .container .loginPass div form textarea {
	width: 100%;
	border: 1px solid #777;
	/*color: var(--t);*/
	padding: 10px;
	background-color: transparent;
	border-radius: 4px;
	height: 100%;
	resize: none;
}
.landing .container .loginPass div form textarea:focus {
	outline: none;
}
.landing .container .loginPass div.left p {
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 16px;
	height: 40.4px;
  color: #333;
}
.landing .container .loginPass div.left .bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height:40px;

}
.landing .container .loginPass div.left .bottom .menu {
	position: relative;
	width: 80%;
}
.landing .container .loginPass div.left .bottom ul {
	position: absolute;
	background-color: var(--t);
	width: 280px;
	bottom:calc(100% - 11px) ;
	overflow: hidden;
	transition: 0.4s;
	height: 0;
}
.landing .container .loginPass div.left .bottom ul.active {
	height:230px ;
}
.landing .container .loginPass div.left .bottom ul.stg.active {
	height:114px ;
}
.landing .container .loginPass div.left .bottom ul li:hover {
	padding-left:20px;
}
.landing .container .loginPass div.left .bottom ul li {
	padding: 10px;
	color: #333;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 15px;
	transition: 0.4s;
	cursor: pointer;
}
.landing .container .loginPass div.left .bottom ul li.active {
	color: var(--t);
	background-color:var(--v) ;
} 
.landing .container .loginPass div.left .bottom ul li:not(:last-of-type) {
	border-bottom: 1px solid black;
}
.landing .container .loginPass div.left .bottom p {
	display: flex;
	align-items: center;
	margin: 0;
	gap: 20px;
	border: 1px solid #777;
	width: fit-content;
	padding: 10px;
	margin-top: 20px;
	border-radius: 6px;
	cursor: pointer;
  width: 147%;
}
@media (max-width:992px) {
  .landing .container .loginPass div.left .bottom p {
    font-size: 13px;
  }
  .landing .container .loginPass div.left .bottom button {
    font-size: 13px;
  }
}
.landing .container .loginPass div.left .bottom button {
	height: 40.39px;
	margin-top: 20px;
	padding: 0 20px;
	text-transform: capitalize;
	color: #333;
	font-weight: 600;
	border-radius: 5px;
	border: 1px solid #777;
	cursor: pointer;
  margin-left: 15%;
}

.landing .container .loginPass div.right  {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items:stretch
}
.landing .container .loginPass div.right > div {
  flex: 1;
  flex-direction: column;
  height: calc(100% - 50px);
}
.landing .container .loginPass div.right > div.areastg {
  display: none;
}

/* ###### */
.landing .container .loginPass div.right > div p {
  /*color: var(--t);*/
  color: #333;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 10px;
  text-align: left;
}
@media (max-width:600px) {
  .landing .container .loginPass div.left .top > p {
    font-size: 14px;
    
  }
  .landing .container .loginPass div.right  p {
    font-size: 14px;
  }
}

.landing .container .loginPass div.left .top .question {
  position: relative;
  width: 25px;
  height: 25px;

  border-radius: 50%;
}

.landing .container .loginPass div.left .top {
  display: flex;
  justify-content:space-between ;
  position: relative;
  width: 100%;
  height: 40px;
}
.landing .container .loginPass div.left .question .icon  {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  cursor: pointer;
  visibility: hidden;
  transition: 0.3s;
  border-radius: 50%;

}
.landing .container .loginPass div.left .question .icon.active {
  visibility: visible;
}

.landing .container .loginPass div.left .question .icon i {
  color: #fa6c5a;
}
.landing .container .loginPass div.left .question .box {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  background-color: #ddd;
  padding: 10px;
  width: 180px;
  border-radius: 6px;
  visibility: hidden;
  transition: 0.3s;
}
.landing .container .loginPass div.left .question .box.takeaffine.active,
.landing .container .loginPass div.left .question .box.takecesar.active,
.landing .container .loginPass div.left .question .box.stg.active,
.landing .container .loginPass div.left .question .box.stgColumn.active {
visibility: visible;
transition: 0.3s;
}
.landing .container .loginPass div.left .question .box > p {
font-size: 12px;
font-weight: 500;
margin-bottom: 0;
height: 30px;
color: #333;
}
#stg_message,#stg_messageclm{
  width: 65%;
  height: 20px;
}
#boxStg > p{
  height: 50px;
  margin-bottom: -10px;
}
#boxStgClmn > p{
  height: 50px;
  margin-bottom: 10px;
}
.landing .container .loginPass div.left .question .box div {
  display: flex;
  height: 30px;
  align-items: center;
  /* margin-top: 10px; */
}
.landing .container .loginPass div.left .question .box div p {
  margin: 0;
  height: 20px;
  font-size: 10px;
font-weight: 500;
margin-bottom: 0;
}
.landing .container .loginPass div.left .question .box div input {
  width: 40px;
  height: 15px;
  margin-left: 5px;
  border: 1px solid #777;
  border-radius:6px ;
  margin-top: -6px;
  color: #333;
  font-size: 12px;
  background-color: #f1f1f1;
  padding-left: 3px;
}
.landing .container .loginPass div.left .question .box div input:focus {
  outline: none;
}
.form-error{
  display: none; 
  color: red;    
}
#textToCrypt{
  height: 80%;
}

.password-container {
  position: relative;
  display: inline-block;
}

.passInput{
  padding-right: 2.5rem; 
  width: 100%;
}

#i3 {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #2d5882; 
  border: none;
}
#i2,#i1{
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  color: #2d5882; 
  border: none;
}
#i1{
  top: 57.5%;
  right:42px;
}
#i2{
  top: 71.5%;
  right:42px;
}
.hideBtn{
  display: none;
}
.hideBtn.active{
  display: flex;
  align-items: center;
  justify-content: center;
}
.success_msg{
  display: none;
}
.success_msg.active{
  display: block;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  color: green;
}

#hideBtn{
  width: 70%;
  height: 40.96px;
  padding: 20px;
  align-self: center;
  margin-top: 10px;
}

.ModalCaptcha{
  display: none;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  /*backdrop-filter: blur(5px); /* background blur */
  position: absolute;
}
.ModalCaptchaContent{
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  align-items: center;
  justify-content: center;
  padding: 4%;
  border-radius: 16px 16px 0px 0px;
}